.container{
    display: flex;
    justify-content: cent;
    align-items: center;
    text-align: center;
    height: 175px;
}

.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

.box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    text-align: left;
}

.inputbox{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 8px;
    max-width: 150px;
    border: 3px solid rgb(133, 133, 133);
    padding: 5px;
}

.inputbox:focus{
    outline: none;
    border: 5px solid rgb(70, 70, 70);
}

.arrow {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    max-width: 45px;
    padding: 3.5rem 0 0 0;
}

.button{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    padding-bottom: 30px;
}