.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
    display: flex;
    background-color: black;
    min-height: 900px;
    width: 100%;
}

.selectedBox{
    flex: 70;
}

.conditionsBox{
    flex: 30;
}