.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: right;
    margin: 0;
    padding: 45px 24px;
}

.container{
    background-color: rgb( 49, 87, 156);
    width: 100vw;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}